<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="sumeyye">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/style")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/Css/bootstrap.min.css"
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css"/>>
    <link rel="stylesheet"href="~/Content/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Content/Css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="~/Content/Css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/favicon.png">

    <style>
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }
    </style>

    <body class="layout-fullwidth">
        @RenderBody()


        <script src="~/Content/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Content/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="~/Content/js/klorofil-common.js"></script>


    </body>
</html>