@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <style type="text/css">
        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:active {
            text-decoration: none;
        }
    </style>
</head>
<body>

    <div style="margin-top:300px;">
        <div style="margin-left: 700px;">
            <a href="#"><img style="width: 200px;height: 200px;" src="~/Content/images/mezun.png"><h1 style="text-decoration: none;">Öğrenci Girişi</h1></a>
        </div>
    </div>
    <div style="margin-top:-250px;">
        <div style="margin-left: 1000px;">
            <a href="~/Admin/Login"><img style="width: 200px;height: 200px;" src="~/Content/images/mezunlar.jpg"><h1 style="text-decoration: none;">Personel Girişi</h1></a>
        </div>
    </div>
</body>
</html>