@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #ana_div {
        height: 300px;
        width: 960px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 90px;
    }

    .div {
        float: left;
        display: inline-block;
        height: 200px;
        width: 300px;
        margin: 10px;
    }
</style>
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content" style="margin-top: 95px;">
        <div class="container-fluid ">

            <div class="row">
                <div class="col-md-offset-4 container-fluid col-md-4">




                    <div id="ana_div">
                        <a href="#"><div class="div" style="background-image:url('../../Content/images/ic.png');background-repeat: no-repeat;border-radius: 100px;width:200px; height:200px;opacity:0.9; background-size: 100% 100%"><h1 style="text-decoration: none;">Öğrenci Girişi</h1></a>


                    </div>
                    <div>
                        <a href="~/Admin/Login"><div class="div" style="background-image:url('../../Content/images/person-man.png');background-repeat: no-repeat;border-radius: 100px;width:200px; height:200px;opacity:0.9; background-size: 100% 100%"><h1 style="text-decoration: none;">Personel Girişi</h1></a>


                    </div>

                </div>



                <!-- END INPUT SIZING -->
            </div>


        </div>
    </div>
</div>




